#chart{
	width:520px;
}
#chart dt{
	width:160px;
	float:left;
	margin:0 20px 5px 0;
	padding:2px 0;
	display:inline;
	font-weight:bold;
	text-align:right;
	clear:left;
}
#chart dd{
	width:339px;
	border-right:1px solid #ddd;
	float:left;
	margin-bottom:5px;
	display:inline;
}
#chart dd span{
	color:#fff;
	background:#09f;
	text-align:center;
	padding:2px 0;
	display:block;

	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:-webkit-gradient(linear, left top, left bottom, from(#09f), to(#077fd0));
	-webkit-box-reflect:below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
}
