[{
    image_width: 1024,
    image_height: 600,
    page_width: 1024,
    page_height: 600,
    scurve_url: "http://scurve.dev/extjs4/gantt/scurvecost",
    fetch_list: "conf/fetch_list.conf",
    save_image_path: "/Volumes/Data/web/signage_trunk/web/images/",
    erp_token: 'kJ8sel019HA'
}]