/* 
    Document   : 960layout.css
    Created on : Nov 16, 2010, 10:32:14 PM
    Author     : wisu
    Description:
        style of default web page
*/
body {

	background: url("/images/web/bg.png") repeat-y scroll center center #b62135;
	height: 100%;
	margin: 0;
}

#header {
	background: url("/images/web/bg.png") repeat-y scroll center center #b62135;
}

#header-overlay {
	background: url("/images/web/bg.png") repeat-y scroll center center #b62135;
	overflow: hidden;
	padding: 0 50px 10px;
}

#hspace {
	height: 10px;
}

#logo {
	background: url("/images/web/logo.png") no-repeat scroll 0 0 transparent;
	float: left;
	margin-left: 30px;
        margin-top: 0px;
	position: relative;
	height: 68px;
	width: 200px;
}

#page-bg {
	background: url("/images/web/bg.png") repeat-y scroll center center #b62135;
	padding: 0 15px;
}

#bottom{
    padding-top: 10px;
    text-align: center;
    font-size: 11px;
}

/* Zend Form Styling */
dl.zend dt,dd {
	min-height: 30px;
}

dl.zend_form dt {
	float: left;
	clear: left;
	text-align: right;
}

dl.zend_form dt label.required {
	font-weight: 600;
}

dl.zend_form dd {
	float: left;
	clear: right;
	padding-left: 5px;
}

dl.zend_form dd ul.errors {
	list-style: none;
	padding: 0;
	margin: 0;
}

dl.zend_form dd ul.errors li {
	float: left;
	margin: 0 0.15em;
	font-size: 12px;
	color: #666666;
}
