 #ipcc-loading{
        position:absolute;
        left:40%;
        top:40%;
        padding:2px;
        z-index:20001;
        height:auto;
    }
    #ipcc-loading-msg {
        font: normal 10px arial,tahoma,sans-serif;
    }
    #ipcc-loading-logo{
        background:white;
        color:#444;
        font:bold 13px tahoma,arial,helvetica;
        padding:1px;
    }
    #ipcc-loading-logo-text{
        background:white;
        color:#444;
        font:bold 13px tahoma,arial,helvetica;
        padding:5px;
    }
    #ipcc-loading .ipcc-loading-indicator{
        text-align:center;
        background:white;
        height:auto;
    }