.taskTip
{
	font-size:11px;
}

.taskTip td
{
	width:70px;
}

.parent .x-grid-cell-inner
{
	font-weight:bold;
	padding-left:21px;
	background: url(/gantt2/images/puzzle.png) no-repeat 1px 1px;
}

.task .x-grid-cell-inner
{
	padding-left:21px;
	background: url(/gantt2/images/cog.png) no-repeat 1px 1px;
}

@-webkit-keyframes glow {
	0% {
		-webkit-box-shadow: 0 0 8px rgba(255, 0, 0, 1);
	}
	100% {
		-webkit-box-shadow: 0;
	}
}

.sch-gantt-critical-chain .x-grid-row-selected .sch-gantt-item,
.sch-dependency-selected
{
	-webkit-animation-name: glow;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-duration: 0.8s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;	
	-moz-box-shadow: 0 0 8px rgba(255, 0, 0, 1);
}


.togglebutton
{
	background: url(/gantt2/images/checkbox.gif) no-repeat 0 0 !important;
}


.x-btn-pressed .togglebutton
{
	background-position:0 -16px !important;
}

.action
{
	background: url(/gantt2/images/play.png) no-repeat 0 0 !important;
}

.sch-ganttpanel .x-table-layout-cell
{
	text-align:left;
}

.zoomfit
{
	background:url(/gantt2/images/zoom-fit.png) no-repeat left center !important;
}

.icon-collapseall
{
	background:url(/gantt2/images/up.png) no-repeat left center !important;
}

.icon-expandall
{
	background:url(/gantt2/images/down.png) no-repeat left center !important;
}

.icon-prev,
.icon-previous
{
    background: url(/gantt2/images/arrow_left.png) no-repeat left center !important;
}

.icon-next
{
    background: url(/gantt2/images/arrow_right.png) no-repeat left center !important;
}

.icon-calendar
{
    background: url(/gantt2/images/calendar.png) no-repeat left center !important;
}

.sch-event-endsoutside
{
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-bottomright:0 !important;
	-webkit-border-radius-top-right:0 !important;
	-webkit-border-radius-bottom-right:0 !important;
}

.sch-event-startsoutside
{
	-moz-border-radius-topleft:0 !important;
	-moz-border-radius-bottomleft:0 !important;
	-webkit-border-radius-top-left:0 !important;
	-webkit-border-radius-bottom-left:0 !important;
}

.sch-event
{
    -webkit-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    -ms-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    border-radius:3px;
    border:1px solid Turquoise;
}
